body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    padding: 2rem;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

nav {
    margin-top: 0.5rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1.2rem;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 2rem;
}

.photo-gallery h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    justify-items: center;
}





.photo-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.responsive-iframe-landscape {
    aspect-ratio: 3 / 2;
    width: 100%;
    max-width: 600px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    background: #222;
    display: block;
}

.responsive-iframe-portrait {
    aspect-ratio: 2 / 3;
    width: 100%;
    max-width: 400px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    background: #222;
    display: block;
}

.photo-item iframe:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

/* Footer fixé en bas */
footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #333;
    color: #fff;
}